:root{
    --clr-background: #ffffff;
    --clr-primary: #00887A;
    --clr-light: #77A6F7;
    --clr-lightest: #d4e3fc;

    --clr-neutral-100: #fff;
    --clr-neurtral-900: #333;
}

*,
*::before,
*,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

body {
    background: var(--clr-background);
    font-family: sans-serif;
    color: var(--clr-primary);
    height: 100%;
}

/* scrool bar */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--clr-lightest);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-light);
    transition: all 200ms ease;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
}

/* Preloader */

#preloader {
    background: url("content/preloader-gif.gif") no-repeat center, var(--clr-background) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000000000000000000000000000000000000000000000000;
}

.load {
    display: none;
}

.load iframe {
    display: none;
}

/* Header */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-light);
    padding-bottom: 50px;
    transition: 1s;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-background);
    transition: all 500ms ease-in-out;
}

.logo {
    width: 160px;
    margin: 5px 20px;
    padding: 10px 0;
}

.logo-swamiji {
    width: 140px;
    height: 160px;
    margin: 5px 10px;
    margin-top: 10px;
    padding: 10px 0;
}

.nav-content-mid {
    padding: 30px;
    text-align: center;
    text-align: center;
}

.nav-content-mid h1 {
    font-size: 3rem;
    padding: 5px 0; 
    text-align: center;
} 

.nav-content-mid h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 5px 0;
    padding-right: 30px;
}

/* navbar */

.nav-bar {
    background: var(--clr-lightest);
    text-align: center;
    white-space: nowrap;
    width: 100%;
    transition: all 1s ease-in-out;
    z-index: 100000 ;
}

.nav-bar ul {
    display: inline-flex;
    list-style: none;
    color: var(--clr-primary);
    transition: 1s;
}

.nav-bar ul li {
    width: fit-content;
    margin: 0 7px;
    padding: 10px 10px;
    transition: all 500ms ease-in-out;
}

.nav-bar ul li:hover,
.nav-bar ul li:focus {
    background-color: var(--clr-lightest);
}

.nav-bar ul li a {
    text-decoration: none;
    color: var(--clr-primary);
}

.sub-menu {
    display: none;
}

.nav-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: var(--clr-lightest);
    margin-top: 10.2px;
    margin-left: -15px;
}

.nav-bar ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
    padding-bottom: 10px;
}

.nav-bar ul li:hover .sub-menu ul li {
    width: 250px;
    padding: 10px;
    border-bottom: 1px dotted var(--clr-primary);
    text-align: left;
}

.nav-bar ul li:hover .sub-menu ul li a:hover {
     color: var(--clr-light);
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 240px;
    background-color: var(--clr-lightest);
}

.nav-bar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}

.nav-bar.sticky .nav-content {
    display: none;
    transition: all 1s ease-in-out;
}

.nav-bar.sticky ul {
    padding-inline: 1px 10px;
    transition: all 250ms ease-in-out;
}

/* Slider */

.slider-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    width: 1100px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 250ms ease;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%; 
    clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
    clip-path: circle(150.0% at 0 50%);
    transition: 2s;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .slider .slide .info {
    position: absolute;
    color: #333;
    background: hsl(217, 87%, 91%, 0.3);
    margin-top: 60px;
    margin-left: 60px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1/5%);
    width: 50ch;
}

.slider .slide .info h2 {
    font-size: 2em;
    font-weight: 800;
    margin: 5px;
}

.slider .slide .info p {
    font-size: 1em;
    font-weight: 400;
    margin: 5px;
} */

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: all 250ms ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn,
.next-btn {
    z-index: 999;
    font-size: 2.5em;
    color: #333;
    background: hsl(217, 87%, 91%, 0.4);
    padding: 10px;
    cursor: pointer;
    transition: all 250ms ease;

}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; 
}

.prev-btn:hover,
.next-btn:hover {
    background: hsl(217, 87%, 91%, 0.9)
}

.navigation-visibiity {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibiity .slide-icon {
    width: 20px;
    height: 10px;
    z-index: 999;
    background: hsl(217, 87%, 91%, 0.6);
    transform: translateY(-50px);
    margin: 0 8px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibiity .slide-icon.active {
    background: var(--clr-primary);
}

/* Main */

main {
    width: 100%;
    margin-bottom: 20px;
}

/* about */

.about {
    display: flex;
    justify-content: center;
}

.about-text {
    width: 50%;
    text-align: center;
    margin: 10px 40px;
}

.about-text h1 {
    margin-block: 40px;
    font-size: 4rem;
    margin: 50px;
}

.about-text p {
    font-size: 1.3rem;
    line-height: 28px;
    margin: 20px 0;
}

.about-img {
    width: 100%;
}

/* content */

.content-video {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
    background: var(--clr-lightest);
}

.content-video iframe {
    position: relative;
}

/* cards */

.cards {
    margin-inline: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    width: fit-content;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 180px 180px 100px;
    grid-template-areas: "image" "text" "link";
    border-radius: 18px;
    background: var(--clr-background);
    box-shadow: 25px 5px 15px var(--clr-lightest);
    text-align: center;
    margin: 25px 30px;
}

.card-image-1 {
    grid-area: image;
    background: url(content/slider-pic-5.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image-2 {
    grid-area: image;
    background: url(content/Modren-Tech-card.jpg) center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image-3 {
    grid-area: image;
    background: url(content/clubs-bg.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image-4 {
    grid-area: image;
    background: url(content/Events-card.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image-5 {
    grid-area: image;
    background: url(content/card-library.JPG);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image-6 {
    grid-area: image;
    background: url(content/cards-labs.JPG);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image-7 {
    grid-area: image;
    background: url(content/card-infirmary.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
    margin-bottom: 30px;
}

.card-text h3 {
    margin: 5px;
}

.card-link {
    grid-area: link;
    margin-top: 40px;
}

.card-link a {
    padding: 15px 18px;
    background-color: var(--clr-lightest);
    border-radius: 100vw;
    color: var(--clr-primary);
    transition: all 250ms ease;
}

.card-link a:hover {
    background-color: var(--clr-light);
    color: var(--clr-lightest);
}

/* Footer */

/* footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: var(--clr-light);
    height: 300px;
    margin-top: -300px;
    clear: both;
} */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--clr-lightest);
    padding: 60px 0 0px;
    font-size: 1rem;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col h1 {
    padding: 10px 5px;
    white-space: nowrap;
    font-size: 1.5rem;
}

.col p {
    margin-right: 20px;
}

.col iframe {
    border-radius: 12px;
}

.col p {
    padding: 10px;
}
.col h3 {
    padding: 10px 14px;
}

.col span {
    font-size: 1.2rem;
    font-weight: 500;
}

.col ul {
    padding: 10px;
}

.col ul li {
    margin: 5px;
}

.col ul li a {
    color: var(--clr-primary);
    transition: all 250ms ease;
}

.col ul li a i {
    margin-right: 5px;
}

.col ul li a:hover {
    color: var(--clr-light);
}

.footer-social {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.footer-social a {
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}

.footer-social a i {
    color: var(--clr-primary);
}

.footer-social a i:hover {
    color: var(--clr-light);
}

.copyright {
    text-align: center;
    background: var(--clr-primary);
    color: var(--clr-lightest);
    padding: 20px 0;
    margin-top: 10px;
}